.domainCard {
  color: var(--foreground);
  display: flex;
  flex-direction: column;

  &:hover .domainCardHeader .icon {
    display: block;
    color: var(--highlight);
  }
}

.domainCardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .icon {
    display: none;
    color: var(--foreground);
  }
}

.domainCardEditForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.domainCardFeature {
  flex-grow: 1;
}
