.characterTrait {
  border: 1px solid var(--border-subtle);
  border-radius: 0.25rem;

  .label {
    border-bottom: 1px solid var(--border-subtle);
  }

  .examples {
    border-top: 1px solid var(--border-subtle);
    white-space: pre;
  }
}

.container {
  container: traits / inline-size;
}

.characterTraits {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  gap: 1rem;

  @container traits (min-width: 600px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @container traits (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
  }
}
