@use "./themes.scss" as *;

:root {
  @include light;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
  }
}

html[data-theme="light"] {
  @include light;
}

html[data-theme="dark"] {
  @include dark;
}

html {
  max-width: 100vw;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  overflow: visible;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-spline-sans-mono);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0 1rem;
  // max-width: 99rem;
  height: 100%;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  color: var(--primary);

  &::placeholder {
    color: var(--foreground);
  }
}

button {
  text-align: inherit;
}
