.sheet {
  display: grid;
  gap: 1rem;
}

.name {
  background: unset;
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: 0.25rem 0 0 0;
  font-size: 2rem;
  color: var(--primary);

  &::placeholder {
    color: var(--foreground);
  }

  &:focus {
    border-color: var(--highlight);
    background: var(--secondary-background);
  }
}
