.rollLog {
  position: absolute;
  z-index: 100;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 100vh;
  min-width: 20rem;
  overflow-y: auto;
}

.rollEntry {
  padding: 0.5rem;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.05);
}
