.rollLog {
  position: absolute;
  z-index: 100;
  left: 3rem;
  bottom: 3rem;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  min-width: 20rem;
  box-shadow: var(--drop-shadow);
  border-radius: 0.25rem;
}

.rollEntry {
  padding: 0.5rem 1rem;
  &:not(:last-child) {
    border-bottom: 1px solid var(--border-subtle);
  }
}
