.main {
  max-width: 48rem;
  --space: 1.5rem;

  h1 {
    --space: 9rem;
  }

  h2 {
    --space: 5rem;
  }

  h3 {
    --space: 4rem;
  }

  h4 {
    --space: 2rem;
  }

  h5 + * {
    margin-top: 0.5rem;
  }
}
